<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
  <link rel="stylesheet"  type="text/css" th:href="@{/css/navbar.css}" />
</head>
<body>

<div >
  <nav class="navbar">
    <ul>
      <li><a href="/homepageOwner">VET CLINIC HOMEPAGE</a></li>
      <li><a href="/homepageVeterinarian">VET CLINIC HOMEPAGE</a></li>
      <li><a href="/registration">Register</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/addPet">Register a Pet</a></li>
      <li><a href="/addAppointment">Make an Appointment</a></li>
    </ul>

  </nav>
</div>

</body>


</html>