body {
     margin: 0;
     padding: 0;
     background: linear-gradient(to bottom, rgba(248, 178, 178, 0.55), #2c3e50);
     display: flex;
     justify-content: center;
     align-items: center;

 }

.container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-box {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.register-box label {
    display: block;
    text-align: left;
    margin-bottom: 8px;
    font-weight: bold;
}

.register-box input[type="text"],
.register-box input[type="email"],
.register-box input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.register-box button[type="submit"] {
    background-color: rgba(231, 69, 69, 0.34);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    margin-left: 50px;
}
