<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet"  type="text/css" th:href="@{/css/contact.css}" />
</head>
<body>
<div th:include="~{fragments/navbar}"></div>

<div class="container">

    <div class="part">
        <label class="label">Phone Number : </label>
        <p class="text">902384029348</p>
        <p class="text">837423874928</p>
    </div>

    <div class="part">
        <label class="label">Email : </label>
        <p class="text">help@help.com</p>
    </div>

    <div class="part">
        <label class="label">Social Media : </label>
        </br>
        <img src="..\img\Blue-facebook-icon-on-transparent-background-PNG.png">
        <p class="text">Facebook</p>
        <img src="..\img\Instagram-icon-on-transparent-background-PNG.png">
        <p class="text">Instagram</p>
    </div>

    <div class="part">
        <label class="label">Address : </label>
        <p class="text">HElp Pet Boulevard NO. 19</p>
    </div>

</div>

</body>
</html>