<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet"  type="text/css" th:href="@{/css/homePageStyle.css}" />
</head>
<body class="header">

<div th:include="~{fragments/navbar}"></div>


<div>
    <h2 class="section-title">Meet Our Doctors</h2>

    <div class="doctor-card">
        <h3 class="doctor-name">Dr. John Doe</h3>
        <p class="doctor-specialty">Cardiologist</p>
        <p>bla bla.</p>
    </div>

    <div class="doctor-card">
        <h3 class="doctor-name">Dr. Jane Smith</h3>
        <p class="doctor-specialty">Dermatologist</p>
        <p>bla bla.</p>
    </div>

    <div class="doctor-card">
        <h3 class="doctor-name">Dr. John Doe</h3>
        <p class="doctor-specialty">Cardiologist</p>
        <p>bla bla.</p>
    </div>

    <div class="doctor-card">
        <h3 class="doctor-name">Dr. Jane Smith</h3>
        <p class="doctor-specialty">Dermatologist</p>
        <p>bla bla.</p>
    </div>
</div>


<div>
<button class="button">
    <p>bla bla bla</p>
    <img src="img.png">
    <img src="img.png">
    <img src="img.png">
    <img src="img.png">
</button>
</div>




<footer class="footer">
    <p>Phone: 456456456456</p>
    <p>Address: Street Street No.10</p>
    <p>Email: vet@clinic.com</p>

    <div class="social-icons">
        <a href="https://www.facebook.com">
            <img src="../img/Blue-facebook-icon-on-transparent-background-PNG.png">
        </a>
    </div>
</footer>


</body>
</html>