<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Homepage Owner</title>
    <link rel="stylesheet" th:href="@{/css/homepageOwner.css}" href="../static/css/homepageOwner.css"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="gradient-custom">
<div class="container-all">

<div th:include="~{fragments/navbar}"></div>

<div>
    <h2 class="section-title">Here are your pets</h2>



    <div class="pet-card-row">

    <div class="pet-card" th:each="petDto:${petDtoList}">
                <h2 th:text="${petDto.name}"></h2>

        <span class="same-row">
            <p>Pet Species: </p>
            <p th:text="${petDto.species}"></p>
        </span>

        <span class="same-row">
            <p>Pet Breed: </p>
            <p th:text="${petDto.breed}"></p>
        </span>

        <span class="same-row">
            <p>Gender: </p>
            <p th:text="${petDto.gender}"></p>
        </span>

        <span class="same-row">
            <p>Date of Birth: </p>
            <p th:text="${petDto.dateOfBirth}"></p>
        </span>

        <span class="same-row">
            <p>Weight: </p>
            <p th:text="${petDto.weight + ' kg'}"></p>
        </span>

        <span class="same-row">
            <p>Age: </p>
            <p th:text="${petDto.age + ' years'}"></p>
        </span>

        <span class="same-row">
            <p>Does it have pedigree: </p>
            <p th:text="${petDto.pedigree}"></p>
        </span>

    </div>
    </div>

</div>
</div>

<div th:include="~{fragments/footer}"></div>
</body>
</html>