<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Homepage Veterinarian</title>
    <link rel="stylesheet" th:href="@{/css/homepageVeterinarian.css}" href="../static/css/homepageVeterinarian.css"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="gradient-custom">

<div th:include="~{fragments/navbar}"></div>

<div>
    <h2 class="section-title">Here are your appointments</h2>


    <div class="appointment-card-row">

        <div class="appointment-card" th:each="appointmentDto:${appointmentDtoList}">
            <h2 th:text="${appointmentDto.petName}"> Appointment </h2>

            <span class="same-row">
            <p>Pet Name: </p>
            <p th:text="${appointmentDto.petName}"></p>
        </span>

            <span class="same-row">
            <p>Appointment type:  </p>
            <p th:text="${appointmentDto.appointmentType}"></p>
        </span>

            <span class="same-row">
            <p>Details: </p>
            <p th:text="${appointmentDto.details}"></p>
        </span>

            <span class="same-row">
            <p>Other Medical Issues: </p>
            <p th:text="${appointmentDto.otherMedicalIssues}"></p>
        </span>

            <span class="same-row">
            <p>Appointment Date and Time: </p>
            <p th:text="${appointment.dateTime}"></p>
        </span>

        </div>
    </div>

</div>
</div>

<div th:include="~{fragments/footer}"></div>
</body>
</html>