<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
  <link rel="stylesheet" th:href="@{/css/login.css}" href="../static/css/login.css"/>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="gradient-custom">

<div class="box">
  <h2>Login<img src="../img/cat.png" class="icon"></h2>

<form style="max-width: 640px; margin: 0 auto; text-align: left;" action="/login" method="post">

  <div class="mb-3">
    <input name="username" type="email" class="form-control" id="email"  placeholder="Email"required>
  </div>

  <div class="mb-3">
    <input name="password" type="password" class="form-control" id="password" placeholder="Password" required>
  </div>

  <button type="submit" class="btn btn-primary">Login</button>
  <span><p class="no-account">Don't have an account?</p>
      <button class="registration-button"><a href="/registration">Sign Up</a></button></span>
</form>

</div>

</body>
</html>