<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
  <link rel="stylesheet" th:href="@{/css/registration.css}" href="../static/css/registration.css"/>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="gradient-custom">

<div class="container">
  <div class="register-box">
  <h2>Sign Up</h2>

<div class="m-4" style="text-align: center;">
  <form th:object="${userDto}" style="max-width: 640px; margin: 0 auto; text-align: left;" action="/registration" method="post">

    <div class="mb-3">
      <label class="form-label" >First Name</label>
      <input  th:field="*{firstName}" type="text" class="form-control" id="firstName" placeholder="First Name">
      <p th:each="error : ${#fields.errors('firstName')}" th:text="${error}" class="error"></p>
    </div>

    <div class="mb-3">
      <label class="form-label" >Last Name</label>
      <input th:field="*{lastName}" type="text" class="form-control" id="lastName" placeholder="Last Name">
      <p th:each="error : ${#fields.errors('lastName')}" th:text="${error}" class="error"></p>
    </div>

    <div class="mb-3">
      <label class="form-label" >Email</label>
      <input th:field="*{email}" type="email" class="form-control" id="email"  placeholder="Email">
      <p th:each="error : ${#fields.errors('email')}" th:text="${error}" class="error"></p>
    </div>

    <div class="mb-3">
      <label class="form-label" >Phone Number</label>
      <input th:field="*{phoneNo}" type="text" class="form-control" id="phoneNo"  placeholder="Phone Number">
      <p th:each="error : ${#fields.errors('phoneNo')}" th:text="${error}" class="error"></p>
    </div>

    <div class="mb-3">
      <label class="form-label">Password</label>
      <input th:field="*{password}" type="password" class="form-control" id="password" placeholder="Password">
      <p th:each="error : ${#fields.errors('password')}" th:text="${error}" class="error"></p>
    </div>

    <div class="mb-3">
      <label class="form-label">Date of Birth</label>
      <input th:field="*{dateOfBirth}" type="date" class="form-control" id="dateOfBirth" placeholder="Date of Birth" >
      <p th:each="error : ${#fields.errors('dateOfBirth')}" th:text="${error}" class="error"></p>
    </div>


    <div class="mb-3">
      <label class="form-label">Role</label>
      <select th:field="*{role}" class="form-control" id="role" required>
        <option th:each="specificOpt : ${T(com.sda.vetClinic.enums.Role).values()}"
                th:value="${specificOpt}" th:text="${specificOpt}"></option>
      </select>
      <p th:each="error : ${#fields.errors('role')}" th:text="${error}" class="error"></p>
    </div>


    <button type="submit" class="btn btn-primary">Register</button>
    <span><p class="have-account">Already have an account?</p>
      <button class="login-button"><a href="/login">Sign In</a></button></span>
  </form>
</div>

</div>
</div>

</body>
</html>